[submodule "site-lisp/html5-el"]
	path = site-lisp/html5-el
	url = https://github.com/hober/html5-el.git
[submodule "site-lisp/popup-el"]
	path = site-lisp/popup-el
	url = https://github.com/m2ym/popup-el.git
[submodule "site-lisp/jslint"]
	path = site-lisp/jslint
	url = https://github.com/douglascrockford/JSLint.git
[submodule "site-lisp/smarty-mode"]
	path = site-lisp/smarty-mode
	url = https://github.com/emacsmirror/smarty-mode.git
[submodule "site-lisp/lively"]
	path = site-lisp/lively
	url = https://github.com/emacsmirror/smarty-mode.git
[submodule "site-lisp/w3m"]
	path = site-lisp/w3m
	url = https://github.com/emacsmirror/w3m.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/m2ym/auto-complete.git
