[submodule "site-lisp/html5-el"]
	path = site-lisp/html5-el
	url = https://github.com/hober/html5-el.git
[submodule "site-lisp/jslint"]
	path = site-lisp/jslint
	url = https://github.com/douglascrockford/JSLint.git
[submodule "site-lisp/smarty-mode"]
	path = site-lisp/smarty-mode
	url = https://github.com/emacsmirror/smarty-mode.git
[submodule "site-lisp/lively"]
	path = site-lisp/lively
	url = https://github.com/emacsmirror/smarty-mode.git
[submodule "site-lisp/w3m"]
	path = site-lisp/w3m
	url = git://github.com/emacsmirror/w3m.git
[submodule "site-lisp/ecb"]
	path = site-lisp/ecb
	url = git://github.com/blueabysm/ecb.git
